<div class="jumbotron">
    <h1>Wel Come Online BookSeller!...</h1>
    <p>A World of Books for Everyone! We are an independent bookstore located in the heart of California's Gold Country, in historic downtown Grass Valley.</p>
</div>